{%extends 'base.html'%}
{%load static%}
{%block title%}Trikada | Return Requests{{product.title}}{%endblock%}
{%block body%}
<style>
    body{
        background:rgb(241, 251, 255);
    }
.section1{
    min-width: 100vh;
    height:auto;
    width:100%;
}
.alert{
  position:fixed;
  top:70px;
 width:90%;
  margin-left:5%;
  height:auto;
  background:#f3f169;
z-index:5;
border-radius:5px;
box-shadow:0 2px 5px rgba(0,0,0,0.3);
animation:alertdown 200ms ease-out;
}
@keyframes alertdown{
    0%{
        transform: translateY(-100%);
    }
    /* 60%{
        transform: translateY(10%);
    } */
    100%{
        transform: translateY(0);
    }
}
.alert p{
    text-align: center;
    font-size:18px;
    line-height:40px;
    font-family: 'Montserrat', sans-serif;
    color:#2d6cdf;
    font-weight: bold;
    }
#cross-alert{
    height:20px;
    right:20px;
    position:absolute;
top:10px;
cursor:pointer;
}    

.section1 h1{
    text-align:center;
    padding:15px 0;
    font-size:20px;
    color:#fff;
    background:#2d6cdf;
}
.section1 h1 a{
    text-decoration: none;
    color:#fff;
}
.returns .return-box{
    height:auto;
    width:250px;
    background:#fff;
    box-shadow:0 2px 4px rgba(0,0,0,0.2);
    margin:10px 5px;
    float:left;
    padding:5px;
}
.return-box h4{
    text-align:center;
    font-size:14px;
    color:#2d6cdf;
    padding:5px;
}
.return-box p{
    font-size:12px;
    color:#000;
    font-weight: 400;
    line-height: 15px;
}
.return-box p i{
    font-style:normal;
    color:#2d6cdf;
}
.return-box h3{
    font-size:14px;
    margin-top:5px;
}
.return-box select{
    height:25px;
    border:1px #2d6cdf solid;
    font-size:12px;
    color:#2d6cdf;
    border-radius:2px;
    cursor:pointer;
    font-family: 'Spartan', sans-serif;
}
.return-box button{
    padding:3px 15px;
    font-size:12px;
    background:#2d6cdf;
    border:none;
    color:#fff;
    margin-left:50%;
    transform:translateX(-50%);
    margin-top:5px;
    border-radius:2px;
    box-shadow:0 2px 4px rgba(0,0,0,0.2);
    font-family: 'Spartan', sans-serif;
    cursor:pointer;
}
.search-bar{
    height:30px;
    width:70%;
    margin-left:15%;
    margin-top:10px;
}
.search-bar input{
    width:79%;
    height:25px;
    font-size:15px;
    border:1px #2d6cdf solid;
    font-family: 'Spartan', sans-serif;
    text-align:center;
}
.search-bar button{
    height:25px;
    width:20%;
    background:#2d6cdf;
    border:none;
    font-size:15px;
    color:#fff;
    font-family: 'Spartan', sans-serif;
    cursor:pointer;
}
</style>
<section class="section1">
    {% for message in messages %}
    <div class="alert">
    <img id="cross-alert" src="{% static 'images/icons/iconmonstr-x-mark-2-64.png' %}" alt="cross">
    <p>{{message}}</p>
</div>
{% endfor %}
    <h1><a href="/admin_control_panel_trikada">Trikada Admin Control Panel</a></h1>
<div class="search-bar">
    <form action="/admin_returns" method="get">
    <input type="search" name="search" placeholder="Search by Status, Return ID or ORDER ID">
    <button type="submit">Search</button>
    </form>
</div>
    <div class="returns">
    {% for i in returns %}
<div class="return-box">
<h4>RETURN ID : {{i.return_id}}</h4>
<p>From ORDER ID : {{i.fromOrderId}}</p>
<p>Seller ORDER ID : {{i.seller_order_id}}</p>
<p>Product ID : <i>{{i.product_id}}</i></p>
<p>Quantity : <i>{{i.quantity}}</i></p>
<p>Total Amount : <i>₹ {{i.totalAmount}}</i></p>
<p>Request Date : <i>{{i.date}}</i></p>
<h3>Bank details</h3>
<p>Bank Name : <i>{{i.bankName}}</i></p>
<p>Acc. No. : <i>{{i.acno}}</i></p>
<p>IFSC : <i>{{i.ifsc}}</i></p>
{% if i.status == "Pending" %}
<p>Status : <i style="color:darkorange;">{{i.status}}</i></p>
{% endif %}
{% if i.status == "Approved" %}
<p>Status : <i style="color:#482ff7;">{{i.status}}</i></p>
{% endif %}
{% if i.status == "Cancelled" %}
<p>Status : <i style="color:rgb(223, 54, 54);">{{i.status}}</i></p>
{% endif %}
{% if i.status == "Returned" %}
<p>Status : <i style="color:green;">{{i.status}}</i></p>
{% endif %}

<form action="/admin_returns" method="post">
    {% csrf_token %}
<p>Update Status : <select name="status">
    <option value="Approved">Approved</option>
    <option value="Cancelled">Cancelled</option>
    <option value="Returned">Returned</option>
</select></p>
<input name="returnid" value="{{i.return_id}}" hidden readonly>
<button type="submit">Update</button>
</form>

</div>
    {% endfor %}
</div>
</section>
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
  <script>
      $('#cross-alert').click(function(){
          $('.alert').hide()
      })
    </script>
{% endblock %}