{%load static%}
<style>
    footer{
    height:400px;
    width:100%;
    background:#2d6bdf;
    position: relative;
    }
    .custom-shape-divider-bottom-1599038927 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1599038927 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 70px;
}

.custom-shape-divider-bottom-1599038927 .shape-fill {
    fill: #FFFFFF;
}
footer .contact-us{
    height:100%;
    width:25%;
}
.contact-us h1{
    font-size:18px;
    color:#fff;
    text-decoration: underline;
    padding-top:50px;
    padding-left:50px;
}
.contact-us ul{
    margin-left:50px;
    list-style:none;
    margin-top:20px;
}
.contact-us ul li{
    color:#fff;
    font-size:12px;
    margin-top:10px;
}
.contact-us li img{
    height:16px;
    margin-bottom:-2px;
}
.contact-us li a img{
    height:24px;
    margin:0 10px;
}
.imp-links{
    height:100%;
    width:25%;
    position:absolute;
    left:25%;
    top:0;
    }
.imp-links h1{
margin-top:50px;
color:#fff;
text-decoration: underline;
font-size:18px;
}    
.imp-links ul{
    list-style: none;
    margin-top:20px;
    font-size:12px;
}
.imp-links ul li{
    margin-top:10px;
}
.imp-links ul li a{
    text-decoration: none;
    color:#fff;
} 
.more-links{
    height:100%;
    width:25%;
    position:absolute;
    top:0;
    left:50%;
}
.more-links h1{
    padding-top:50px;
    font-size:18px;
    color:#fff;
    text-decoration: underline;
}
.more-links ul{
    list-style:none;
    margin-top:20px;
   }
.more-links ul li{
    font-size:12px;
    margin-top:10px;
}   
.more-links ul li a{
    text-decoration:none;
    color:#fff;
}
.feedback{
    height:auto;
    width:25%;
    position:absolute;
    right:0;
    top:30px;
}
.feedback form h1{
    font-size:15px;
    color:#fff;
    text-decoration: underline;
    text-align:center;
}
.feedback form{
    padding:5px;
    border:1px #fff solid;
    width:200px;
    height:auto;
    margin-top:10px;
    border-radius:2px;
}
.feedback form label{
    font-size:12px;
    color:#fff;
}
.feedback form input{
    width:100%;
    height:15px;
    font-size:12px;
    color:#fff;
    border:none;
    background:none;
    border-bottom:1px #fff solid;
    font-family: 'Montserrat', sans-serif;
    margin-bottom:5px;
    outline:none;
    text-align:center;
}
.feedback form textarea{
    width:100%;
    height:80px;
    border:1px #fff solid;
    background:none;
    outline:none;
    border-radius:2px;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
font-size:12px;
resize:none;
background:#fff;
}
.feedback form h2{
    text-align:center;
  }
.feedback form button{
    padding:5px 20px;
    outline:none;
    font-family: 'Spartan', sans-serif;
color:#2d6cdf;
font-size:12px;
background:#fff;
border-radius:2px;
border:none;
box-shadow:0 2px 4px rgba(0,0,0,0.2);
font-weight:400;
cursor:pointer;
}  
.copyright-line{
font-size:12px;
color:#fff;
position:absolute;
bottom:100px;
left:50px;
}
/* Media Query Starts */
/* Max width:810px starts */
@media only screen and (max-width:810px){
    .contact-us h1{
        padding-left:20px;
        font-size:15px;
    }
    .contact-us ul{
        margin-left:20px;
    }
    .contact-us ul li{
  margin-top:5px;
  font-size:11px;
} 
    .imp-links h1{
  font-size:15px;
    }
    .imp-links ul{
        font-size:11px;
    }
    .imp-links ul li{
        margin-top:5px;
    }
    .more-links{
        width:20%;
    }
    .more-links h1{
font-size:15px;
    }
    .more-links ul li{
    font-size:11px;
    margin-top:5px;
}   
    .feedback{
  width:30%;
    }
    .copyright-line{
        left:20px;
    }
}
/* Max-width:650px starts */
@media only screen and (max-width:650px){
    .contact-us{
        width:30% !important;
    }
    .contact-us h1{
        font-size:12px;
        padding-left:10px;
    }
    .contact-us ul{
        margin-top:10px;
        margin-left:10px;
    }
    .contact-us ul li{
        font-size:10px;
    }
    .contact-us ul li img{
        height:10px;
    }
    .contact-us ul li a img{
        height:20px;
    }
    .imp-links{
        left:30%;
    }
    .imp-links h1{
        font-size:12px;
            }
    .imp-links ul{
        margin-top:10px;
   font-size:10px;
    }        
.more-links{
    top:120px;
    left:10px;
height:100px;
}
.more-links h1{
    font-size:12px;
}
.more-links ul{
    margin-top:10px;
}
.more-links ul li{
    font-size:10px;
}
.feedback{
    left:60%;
    width:180px;
}
.feedback h1{
    font-size:12px;
}
}
/* Max-width:480px starts */
@media only screen and (max-width:480px){
    footer{
        height:600px;
    }
    .contact-us{
        width:50% !important;
    }
    .contact-us h1{
        padding-left:30px;
    }
    .contact-us ul{
        margin-left:30px;
    }
    .contact-us ul li{
        font-size:8px;
    }
     .imp-links{
        left:50%;
        width:50% !important;
    }
    .more-links{
        left:30px;
        width:25% !important;
  top:100px;
    }
    .feedback{
        top:200px;
       left:50%;
       transform:translateX(-60%)
    }
    .feedback form h1{
        font-size:12px;
    }
}
</style>
<footer>
    <div class="contact-us">
    <h1>Contact Us</h1>
<ul>
    <li><img src="{% static 'images/icons/iconmonstr-smartphone-4-16.png' %}" alt=""> +91 7017323385</li>
    <li><img src="{% static 'images/icons/iconmonstr-email-1-16.png' %}" alt=""> trikada73@gmail.com</li>
    <li><a href="#" target="_blank"><img src="{% static 'images/icons/iconmonstr-facebook-4-24.png' %}" alt=""></a>
        <a href="#" target="_blank"><img src="{% static 'images/icons/iconmonstr-instagram-14-24.png' %}" alt=""></a></li>
</ul>
    </div>
    <div class="imp-links">
<h1>Important Links</h1>
<ul>
    <li><a href="/disclaimer">Disclaimer</a></li>
    <li><a href="/terms_of_use">Terms of Use</a></li>
    <li><a href="/privacy_policy">Privacy Policy</a></li>
    <li><a href="/return_policy">Return Policy</a></li>
</ul>
    </div>
    <div class="more-links">
        <h1>More</h1>
        <ul>
            <li><a href="/become_a_seller">Become a Seller</a></li>
        </ul>
    </div>
    <div class="feedback">
        <form action="/feedback" method="post">
            {% csrf_token %}
            <h1>Feedback</h1>
            <label>Name</label><br>
<input type="text" name="name" value="{{request.user.first_name}}" required><br>
<label>Email</label><br>
<input type="email" name="email" value="{{request.user.email}}" required><br>
<label>Message</label><br>
<textarea name="msg" required></textarea><br>
<h2><button type="submit">SUBMIT</button></h2>
</form>
    </div>
    <p class="copyright-line">© 2020 Trikada </p>
    <div class="custom-shape-divider-bottom-1599038927">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
    </div>
</footer>