{%extends 'base.html'%}
{%block title%}Trikada | Reset Password{%endblock%}
{%block body%}
<style>
body{
    background:rgb(241, 251, 255);

}
.section1{
    display:flex;
    justify-content: center;
    align-items: center;
min-height:100vh;
height:auto;
width:100%;
}
.section1 form{
    height:auto;
    width:60%;
    background:#fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius:2px;
}
.section1 form h1{
    font-weight: bold;
    font-size:20px;
    margin-top:20px;
    color:#2d6cdf;
    text-align:center;
}
.section1 form input{
    width:90%;
    height:25px;
    margin-left:5%;
    border:1px #2d6cdf solid;
    border-radius:2px;
    margin-top:20px;
    font-size:18px;
    color:#000;
    font-family: 'Spartan', sans-serif;
    text-align:center;
 }
 .section1 h2{
     text-align:center;
  }
  .section1 form label{
      display:none;
  }
 .section1 h2 button{
    padding:5px 30px;
     font-size:14px;
     color:#fff;
     background:darkorange;
     border:none;
     border-radius:2px;
     box-shadow: 0 2px 4px rgba(0,0,0,0.2);
     font-family: 'Spartan', sans-serif;
margin-top:20px;
cursor: pointer;
margin-bottom:20px;
 }
 @media only screen and (max-width:650px){
     .section1 form{
         width:80%;
         margin-top:-40%;
     }
 }
 @media only screen and (max-width:480px){
    .section1 form{
        width:90%;
    }
    .section1 form h1{
        font-size:15px;
    }
 }
</style>
{% include 'navbar.html' %}
<section class="section1">
<form method="post">
    <h1>Enter your registered email address</h1>
    {%csrf_token%}
    {{form.as_p}}
<h2><button>SUBMIT</button></h2>
</form>
</section>
{% endblock %}