{%extends 'base.html'%}
{%block title%}Trikada | Reset Password{%endblock%}
{%block body%}
<style>
body{
    background:rgb(241, 251, 255);

}
.section1{
  
min-height:100vh;
height:auto;
width:100%;
}

.section1 h1{
    font-size:20px;
    color:darkorange;
    padding-top:150px;
    text-align:center;
}
@media only screen and (max-width:480px){
    .section1 h1{
        font-size:15px;
    }
}
</style>
{% include 'navbar.html' %}
<section class="section1">
    <h1>Reset Password Sent. Check your inbox</h1>
</form>
</section>
{% endblock %}