{%extends 'base.html'%}
{%block title%}Trikada | {{query}}{% endblock %}
{%load static%}
{%block body%}

<head>
    <link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css">

</head>
{% include 'navbar.html' %}
<section class="section1">
    <div class="box1">
        <!-- <h1>Filters</h1> -->
  <div class="filter-content">
<p>Results are based on ratings.</p>
<label>Price : <i id="pricevalue"></i></label><br>
<input id="priceRange" type="range" name="price" min="10" max="10000">
    </div>
 </div>
 <div class="explore"> 
    <h1>Explore more</h1>
    <div class="men-collection" style="background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url({%static 'images/benjamin-rascoe-Ci_fZ5cL9Jo-unsplash.jpg'%});">
        <h1>Men's Collection</h1>
        <h2><a href="/formal_collection">Take a look</a></h2>
    </div>
    <div class="women-collection" style="background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url({%static 'images/pexels-craig-adderley-2516522.jpg'%});">
        <h1>Women's Collection</h1>
        <h2><a href="/women's_collection">Take a look</a></h2>
    </div>
    <div class="marketplace">
        <a href="/marketplace">Visit Marketplace</a>
    </div>
    </div>
    <div class="box2">
{%if results %}
      
        {%for result in results%}
  <div id="{{result.product_id}}" class="result-box">
   <a href="{{result.view_product}}"><div class="images">
    <div class="image-slider">
    <div class="image1">
    <img src="{{result.image1.url}}" alt="">
    </div>
    <div class="image1">
        <img src="{{result.image2.url}}" alt="">
        </div>
    </div>
</div></a>
<div class="content">
<h1><a href="{{result.view_product}}">{{result.title|slice:20}}..</a><br>
<i>{{result.brand}}</i> </h1>
<!-- Rating -->
{%if result.avgrating is 0%}
<div class="ratestars">
    <label for="1" class="fa fa-star noreview"></label>
    <span>No ratings</span>
 </div>
{% elif result.avgrating is 1 %}
<div class="ratestars">
       <label for="1" class="fa fa-star checked"></label>
       <label for="2" class="fa fa-star"></label>
       <label for="3" class="fa fa-star"></label>
       <label for="4" class="fa fa-star"></label>
       <label for="5" class="fa fa-star"></label>
    </div>
{%elif result.avgrating is 2 %}
<div class="ratestars">
<label for="1" class="fa fa-star checked"></label>
<label for="2" class="fa fa-star checked"></label>
<label for="3" class="fa fa-star"></label>
<label for="4" class="fa fa-star"></label>
<label for="5" class="fa fa-star"></label>
</div>   
{%elif result.avgrating is 3 %}
<div class="ratestars">
<label for="1" class="fa fa-star checked"></label>
<label for="2" class="fa fa-star checked"></label>
<label for="3" class="fa fa-star checked"></label>
<label for="4" class="fa fa-star"></label>
<label for="5" class="fa fa-star"></label>
</div> 
{%elif result.avgrating is 4%}
<div class="ratestars">
<label for="1" class="fa fa-star checked"></label>
<label for="2" class="fa fa-star checked"></label>
<label for="3" class="fa fa-star checked"></label>
<label for="4" class="fa fa-star checked"></label>
<label for="5" class="fa fa-star"></label>
</div>  
{%elif result.avgrating is 5 %}
<div class="ratestars">
<label for="1" class="fa fa-star checked"></label>
<label for="2" class="fa fa-star checked"></label>
<label for="3" class="fa fa-star checked"></label>
<label for="4" class="fa fa-star checked"></label>
<label for="5" class="fa fa-star checked"></label>
</div>          
{%endif%}  
 <!--Rating  -->
<p class="price">₹ {{result.sellingPrice}} <i>₹{{result.mrp}}</i><br>
<span>{{result.off}} % off</span></p>
<div class="div">
    <a href="{{result.view_product}}">
<button class="view">View</button>
    </a>
</div>
</div>
<p hidden class="price-capture">{{result.sellingPrice}}</p>
</div>
{%endfor%}
{%else%}
<div class="not-found">
    <img src="{%static 'images/undraw_empty_xct9.svg'%}" alt="">
    <p>No results found</p>
</div>
{%endif%}
    </div>
    <p hidden id="error"></p>
</section>
    <p style="font-size:12px;color:#333;font-weight:400; position:absolute;bottom:10px;">© 2020 Trikada</p>
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
  <script>
      $('#priceRange').change(function(){
          priceValue = document.getElementById('priceRange').value;
          document.getElementById('pricevalue').innerHTML = '₹ ' + priceValue;
          var priceCapture = document.getElementsByClassName("price-capture");
                for(var i=0; i<priceCapture.length; i++)
                {
                   if(parseInt(priceCapture[i].innerHTML)>parseInt(priceValue)){
                       $(priceCapture[i]).parent("div").hide()
                   }
                   if(parseInt(priceCapture[i].innerHTML)<parseInt(priceValue)){
                       $(priceCapture[i]).parent("div").show()
                   }
                 }
      })
      if (localStorage.getItem('cart')==null){
    var cart = {};
}else{
    cart = JSON.parse(localStorage.getItem('cart'));
}
document.getElementById('cart').innerHTML = Object.keys(cart).length;
$('#cart-items-display').click(function(){
    $('#cart-items').toggleClass('show')
    updateCartPopover(cart);
})
function updateCartPopover(cart){
var popItem = "";
popItem = popItem + "<h1>Your Items</h1><div class='cart-items'>";
var i = 1;
for (var item in cart){
popItem = popItem + "<b>"+i+"</b>.";
popItem = popItem + cart[item][1] + ".. Qty: "+cart[item][0]+"<br>";
i= i+1;
}
popItem = popItem + "<button class='clear-cart' onclick='clearCart()' >Clear Cart</button><a href='/checkout_page' class='checkout'><button>Checkout</button></a></div>";
document.getElementById('cart-items').innerHTML = popItem;
}
function clearCart(){
    cart = JSON.parse(localStorage.getItem('cart'));
    for (var item in cart){
        try{
        document.getElementById('div'+item).innerHTML = "<button id='"+item+"' class='add-to-cart'>Add to Cart</button>"
        }catch(err){
            document.getElementById('error').innerHTML = err;
        }
    }
    localStorage.clear();
    cart = {};
   localStorage.setItem('cart',JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    updateCart(cart);
    updateCartPopover(cart);
} 
       </script>

{%endblock%}